<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>La Mandeline</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="Locations de la Mandeline">
        <link href="../CSS/style.css" rel="stylesheet" type="text/css"/>
        <link href="../CSS/photos.css" rel="stylesheet" type="text/css"/>
        <link rel="shortcut icon" href="../images/mandeline.png">
        <meta name="author" content="Anne Sarrazin"/>
        <script src="Gallerie.js"></script>
</head>
<body>
    <header>
        <img id="en_tete" src="../images/PANO_20160816_165610.jpg" alt="Photo appart en-tête"/>
        <h1>La Mandeline Locations</h1>
        <nav>
            <ul>
                <li><a href="../index.php">Accueil</a></li>
                <li><a href="Reservations.php">Disponibilités</a></li>
                <li><a href="GaleriePhoto.php">Galerie Photo</a></li>
                <li><a href="Contact.php">Contact</a></li>
                    
            </ul>
        </nav>
    </header>
    <article>
        <form id="formulaire" action="GaleriePhoto.php" method="post">
            <p>Sélection de zone:</p>
            <select name="LieuChoisi">
                <option value=''>Tous</option>
                {% for i in TableauLieu %}
                    <option value='{{i.id_lieu}}'>{{i.Nom_lieu}}</option>
                {% endfor %}
            </select>
             <button type="submit">Envoyer</button>
        </form>
        <p><strong>Passez votre souris pour agrandir l'image!</strong></p>
        <div class='containerPhoto'>
        {% for i in TableauPhotos %}
            {% if LieuChoisi is null or i.id_lieu == LieuChoisi %}
                <div class="blocPhoto" onmouseover="afficheImage(this)">
                    <img src="{{i.url}}"/>
                {% set nomLieu = '' %}
                {% for j in TableauLieu %}
                    {% if j.id_lieu == i.id_lieu %}
                        {% set nomLieu = j.Nom_lieu %}
                    {% endif %}
                {% endfor %}
                    <div class="desc"/>
                        <p>Lieu :  {{ nomLieu }}</p>
                        <p>Description: {{i.Description}}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
        <div id="photoSelection">
        </div>
    </article>
    </body>
</html>